@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v19/KFOmCnqEu92Fr1Mu4mxP.ttf) format('truetype');
}
.width-100 {
  width: 100%;
}
* {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
}
body {
  background-color: white;
  color: black;
  font-family: 'Roboto', sans-serif;
}
.center {
  display: inline-block;
  width: 60%;
  height: auto;
}
.main {
  display: flex;
  flex-direction: row nowrap;
  justify-content: center;
  padding: 0px 20px;
  align-items: center;
}
.main .sidetab {
  background-color: #0b5351;
  color: white;
  border-radius: 5px;
  padding: 20px 15px;
  width: 30%;
  max-height: 250px;
  margin-right: 0;
}
.main .sidetab h2 {
  font-size: 1.1rem;
  margin-bottom: 0px;
}
.main .sidetab ul {
  padding-left: 15px;
  line-height: 2.2;
  list-style-type: circle;
}
.tab1 {
  margin-top: 30px;
  background-color: #4e8098;
  border-radius: 10px;
  padding: 20px 20px;
  color: whitesmoke;
}
.topbar {
  width: 100%;
  position: fixed;
  z-index: 2;
  display: flex;
  flex-direction: column;
}
.topbar .fixedmenu {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #b1ede8;
  padding: 30px 0;
  background-color: #092327;
  transition: 0.4s;
}
.topbar .fixedmenu .logo {
  display: flex;
  flex: 1;
  padding-left: 50px;
}
.topbar .fixedmenu .logo h1 {
  font-size: 1.3rem;
  color: white;
}
.topbar .fixedmenu .menulink {
  display: flex;
  flex-direction: row;
  margin-right: 30px;
  text-decoration: none;
  color: white;
}
.topbar .fixedmenu .menulink:hover {
  color: lightgray;
}
.topbar .fixedmenu .frontend {
  display: flex;
  flex: 1;
  padding-right: 50px;
  justify-content: flex-end;
}
.topbar .belowbar {
  width: 0px;
  opacity: 0;
  overflow: hidden;
  transition: opacity 0.8s;
}
.topbar .belowbar-show {
  width: 100%;
  display: flex;
  position: fixed;
  margin-top: 115px;
  justify-content: center;
  background-color: #092327;
  padding: 20px 0 20px 0;
  opacity: 0.8;
  overflow: hidden;
  transition: opacity 0.8s;
}
.topbar .belowbar-show .belowbarlink {
  margin-right: 100px;
  text-decoration: none;
  color: white;
}
.topbar .belowbar-show .belowbarlink:hover {
  color: gray;
}
#button {
  border: 1px solid #b1ede2;
  background-color: darkgray;
  border-radius: 3px;
  padding: 5px 10px 5px 10px;
}
#button:hover {
  background-color: darkgray;
  border: 2px solid #b1ede2;
}
#button a {
  color: #092327;
  text-decoration: none;
}
#button a:hover {
  color: #092327;
}
.container {
  width: 800px;
  padding-top: 170px;
  margin: 0px auto;
}
.teamboard {
  width: 680px;
  margin: 0 auto;
  background-color: #0b5351;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  justify-content: space-between;
  color: white;
  font-size: 1rem;
  border-radius: 25px;
}
.teamboard h4 {
  margin-bottom: 20px;
  font-size: 1.5rem;
}
.teamboard .title {
  color: white;
  padding: 30px 0 20px 0;
  font-size: 1.8rem;
  border-bottom: 2px solid white;
  text-align: center;
}
.teamboard .containerboard {
  display: flex;
  width: 100%;
}
.teamboard .containerboard .meminfo {
  width: 70%;
  text-align: center;
  padding: 30px 0px 30px 0px;
}
.teamboard .containerboard .iteminfo {
  display: none;
}
.teamboard .containerboard .iteminfo-show {
  display: block;
}
.teamboard .containerboard .members {
  width: 30%;
  display: flex;
  flex-direction: column;
  padding: 20px 0 20px 0;
}
.teamboard .containerboard .members .memname {
  margin-bottom: 8px;
}
.teamboard .containerboard .members .memname:hover {
  cursor: pointer;
}
footer {
  width: 100%;
  text-align: center;
  background-color: lightgray;
  padding: 20px 0 20px 0;
  margin-top: 100px;
}
