@import url('https://fonts.googleapis.com/css?family=Roboto');
@import './variables';
@import './mixins';

* {
    box-sizing: border-box;
  }
  
  html, body {
    margin: 0; 
    padding: 0;
    font-size: 62.5%;
  }
  
  body {
    background-color: #1d2f38;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
  }

  @import './menu.less';

  .container{
    width: 800px;
    padding-top: 170px;
    margin: 0px auto;
    @media @phone {
        width: 500px;
        padding-top: 20px;
        margin: 0 auto;
        }
    @media @tablet{
        padding-top: 210px;
        max-width: 600px;
    }
  }

  .center{
    display: inline-block;
    width: 60%;
    height: auto;
  }
 
  .main{
    display: flex;
    flex-direction: row nowrap;
    background-color: black;
    border: 1px solid #b1ede8;
    justify-content: space-around;
    padding: 10px 20px;
    align-items: center;
    @media @phone{
      width: 95%;
      margin: 0 auto;
      flex-direction: column;
      justify-content: space-between;
      margin-bottom: 20px;
    }
    .viewport{
      width: 100%;
      height: auto;
    }
   .sidetab{
    background-color: #0b5351;
    color: white;
    border-radius: 5px;
    padding: 20px 15px;
    width: 30%;
    max-height: 250px;
    margin-right: 0;
    @media @phone{
      width: 60%;
      border-radius: 15px;
    }
    @media @tablet{
      max-height: 400px;
    }
      h2{
        font-size: 2rem;
        margin-bottom: 0px;
      }
      ul{
        padding-left: 15px;
        line-height: 2.2;
        @media @tablet{
          line-height: 1.5;
        }
        list-style-type: circle;
      }
    }
  }

  .main2{
    .width-100;
    display:flex;
    flex-direction: column;

   .tab1{
    margin-top: 30px;
    background-color: #4e8098;
    border-radius: 10px;
    padding: 20px 20px;
    color: whitesmoke;
    @media @phone{
      width: 95%;
      margin: 0px auto;
        }
  }

   .tab2{
    margin-top: 30px;
    background-color: #00a9a5;
    border-radius: 10px;
    padding: 20px 20px;
    color: whitesmoke;
    @media @phone{
      width: 95%;
      margin: 10px auto;
    }
  }
  }

  
  @import './about.less';
  @import './footer.less';
