.topbar {
    .width-100;
    position: fixed;
    z-index: 2;
    display: flex;
    flex-direction: column;
.fixedmenu {
    .width-100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #b1ede8;
    padding: 30px 0;
    background-color: #092327;
    transition: 0.4s;
    @media @phone{
    flex-direction: column;
    justify-items: space-between;
    justify-content: space-between;
    padding: 5px 0 5px 0;
    }
    .logo{
        display: flex;
        flex: 1;
        padding-left: 50px;
        @media @phone{
            padding-left: 0px;
        }
        h1{
            font-size: 2rem;
            color: white;
        }
    }
    .menulink {
            display: flex;
            flex-direction: row;
            margin-right: 30px;
            text-decoration: none;
            color: white;
        &:hover {
            color: lightgray;
            }
        }
    
    .frontend {
        display: flex;
        flex: 1;
        padding-right: 50px;
        justify-content: flex-end;
        @media @phone{
            margin-top: 20px;
            padding-right: 0px;
        }
    }
}

.belowbar {
    width: 0px;
    opacity: 0;
    overflow: hidden;
    transition: opacity .8s;
    }
.belowbar-show {
    .width-100;
    display: flex;
    position: fixed;
    top: 112px;
    z-index: 2;
    justify-content: center;
    background-color: #092327;
    padding: 20px 0 20px 0;
    opacity: 0.8;
    overflow: hidden;
    transition: opacity .8s;
    @media @phone{
     top: 209px;
     justify-content: space-evenly;   
    }
    .belowbarlink {
        margin-right: 100px;
        text-decoration: none;
        color: white;
    @media @phone{
        margin-right: 0px;
    }
    &:hover {
        color:gray;
        }
    }
    
}
}

#button{
        border: 1px solid #b1ede2;
        background-color: darkgray;
        border-radius: 3px;
        padding: 5px 10px 5px 10px;
        &:hover { background-color: darkgray; border: 2px solid #b1ede2 }
        a {
            color: #092327;
            text-decoration: none;
        &:hover{color: #092327}
        }

}

